@import "variables";

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}


@import "variables";

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-Medium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}



@import "variables";

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}