<div class="container">
    <h3 class="fw-400">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores atque quidem distinctio officiis ex veniam blanditiis odit, voluptates doloribus delectus facilis, iure optio a ratione totam assumenda eligendi praesentium. Reprehenderit?</h3>
    <h3 class="fw-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores atque quidem distinctio officiis ex veniam blanditiis odit, voluptates doloribus delectus facilis, iure optio a ratione totam assumenda eligendi praesentium. Reprehenderit?</h3>
    <h3 class="fw-700">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores atque quidem distinctio officiis ex veniam blanditiis odit, voluptates doloribus delectus facilis, iure optio a ratione totam assumenda eligendi praesentium. Reprehenderit?</h3>

</div>