<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href=""></a>
            <img src="./assets/img/logo.svg" alt="logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Україна</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Київ</a></li>
                            <li><a class="dropdown-item" href="#">Львів</a></li>
                            <li><a class="dropdown-item" href="#">Одеса</a></li>
                        </ul>
                    </li>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">послуги</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">обмін криптовалют</a></li>
                                    <li><a class="dropdown-item" href="#">міжнародні перекази</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">як це працює</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">де нас знайти</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">клієнтам</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Найчастіші питання</a></li>
                                    <li><a class="dropdown-item" href="#">Особистий кабiнет</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">ua</a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary top-right" data-bs-toggle="modal" data-bs-target="#registerModal">реєстрація</button>
                        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"> <h5 class="modal-title" id="registerModalLabel">Регистрация</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button> </div>
                                    <div class="modal-body">
                                        <form id="registerForm">
                                            <div class="mb-3"> <label for="regEmail" class="form-label">Электронная почта</label>
                                                <input type="email" class="form-control" id="regEmail" required>
                                            </div>
                                            <div class="mb-3"> <label for="regPassword" class="form-label">Пароль</label>
                                                <input type="password" class="form-control" id="regPassword" required>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button> <button type="submit" form="registerForm" class="btn btn-primary">Зарегистрироваться</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>



    </nav>
</header>
